/* Base styles (extra small devices - mobile) */

html{
    font-size: 14px;
}
body{
    margin:0;
    padding:0;
    font-family: 'Roboto',sans-serif;
    font-size: 1em;
    color:#444444;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    color: #222222;
}
h1{font-size: 2.5rem;}
h2{font-size: 2rem;}
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.25rem;}
h6{font-size: 1rem;}

a{
    text-decoration: none;
    color:#13afe3;
}
a:hover,a:active{
    color: rgb(0, 38, 255);
}
#navbar{
    padding: 10px;
    margin-left:20px;
}
#logo-with-text{
    margin-left: 0%;
    display:none;
}
#logo{
    display:block;
}

#banner{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

h1{
    text-align: center;
    color: darkblue;
    margin:12px 0;
} 

#about{
    display:flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;

}


#description{
    
    font-size: 1.25rem;
}

#team{
    width:100%;

}
#team-image{
    border-radius: 8px;
    width: 100%;
    height: 85%;
}
h2{
    text-align: center;
}

#jobs{
    max-width: 500px;
    margin:0 auto;
    padding:0 8px; 
}
#jobs-list{
    display: block;
}
#jobs-table{
    display: none;
}
.job{
    border:2px solid #dddddd;
    margin-top: 8px;
    border-radius: 5px;
    padding: 8px;
}
.job-title{
    font-size: 1.25rem;
    font-weight: 500;
    color: #011c3c;
}
.job-detail{
    margin-top:4px;
    color:#4e4d4d;
}

#application{
    max-width: 500px;
    margin:0 auto; 
    padding:0 8px;
}
.form-group label{
    font-weight: 800;
}
.form-group input,select,textarea{
    width: 90%;
    font-size: 1.2rem;
    padding:8px;
    margin-top:2px;
    border:#8f9293 solid 2px;
    border-radius:5px
}
.form-group input[type="checkbox"]{
    width: 16px;
    height: 16px;

}
.form-group input[type="submit"]{
    background-color: #1b1bdf;
    color: white;
    cursor: pointer;
}
#Submit{
    width:50%
}
#Submit:hover{
    background-color: aqua;
    color: #222222;
}
.form-group textarea{
    width: 90%;
    font-family: 'Roboto',sans-serif;
}
.form-group{
    margin:10px 0;
}
h3{
    margin-bottom:3px;
}
#footer{
    background-color:#f8fafc ;
    margin-top: 32px;counter-reset:  ;
    padding: 8px;
    text-align: center;
}
#footer-link{
    list-style: none;
    padding-left: 0;
}
#footer-link li{
    margin: 4px 20px;
    
}
.copyright{
    color: gray;
    font-size: 0.800rem;
}


/* Small devices (tablets) */
@media screen and (min-width: 576px) {
    html{
  font-size: 16px;
    }
    #logo-with-text{
        display:block;
    }
    #logo{
        display: none;
    }
    #banner{
        height: 220px;
    }
    h1{
        margin: 16px 0;
    }
    .form-group input,select{
        width:auto ;
    }
    .form-group textarea{
        width: 80%;
    }
    #footer-link li{
        display:inline;  
    }
    #Submit{
        width:40%;
    }
    
   
}

/* Medium devices (laptops) */
@media screen and (min-width: 768px) {
    html{
        font-size: 18px;
    }
    #banner{
        height:250px;
    }
    h1{
        margin: 20px 0;
    }
    #about{
        max-width: 800px;
        flex-direction: row;
    }
    #description{
        width:50%;
        padding-right: 8px;
    }
    #team{
        width:50%;
    }
    #jobs{
        min-width:800px;
    }
    #jobs-list{
        display:none;
    }
    #jobs-table{
        display:table;
        width:100%;
        border:2px solid gray;
        border-collapse: collapse;
        
    }
    
#jobs-header-row th{
    border:1px solid grey;
    padding: 7px;
    background-color: #dbeafe;
    text-align:center;
    color: #222222;
}
.jobs-data-row td{
    border:1px solid grey;
    padding: 5px;
}
#jobs-table tr:nth-child(even){
    background-color:#eff6ff;
}
#application{
    max-width: 800px;
}
   
}

/* Large devices (desktops) */
@media screen and (min-width: 992px) {
    
    
}

/* Extra large devices (large desktops) */
@media screen and (min-width: 1200px) {
  /* CSS rules */
}
/*----------------------------------------------------------------------------------------*/